<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAppService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAppService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/AppService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAppService" contract="AppService.IAppService"
                name="BasicHttpBinding_IAppService" />
            <endpoint address="net.tcp://localhost:8090/AppService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAppService" contract="AppService.IAppService"
                name="NetTcpBinding_IAppService">
                <identity>
                    <userPrincipalName value="DESKTOP-ST7BULC\T480" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>